/* Main content div */
#main {
	padding-bottom: 300px;
}

/*Headings*/
h1 {
	text-align:center;
	margin-top:5%;
	font-family:"PoplarSTD","Times New Roman";
	font-size:34px; 
	color:black;
}

/*Paragraphs*/
p {
	font-family:"Futura Condensed Medium","Times New Roman"; /* Only font & color are defined here because they're the only attributes common to ALL paragraphs. */
	color:black;
	}

p.bodytext {
	font-size:24px;
	width:80%;
	margin-left:10%;
	margin-right:10%;
}

a.textlink {
	color: black;
	display:inline;
}

a.textlink:link {
	text-decoration:none;
	color: black;
}

a.textlink:hover {
	color: #50f558;
}

/*Contact Form*/
#contactfield {
  margin-left:10%;
  margin-right:10%;
  margin-top:3%;
  width:80%;
  height:100%;
  background-color:#29cfbd;
  padding:3%;

}

form#gbcf-form {
	width:80%;
	height:auto;
	margin-right:10%;
	margin-left:10%;
}

p.form-footer {
	margin-left: 10%;
}

textarea#message {
	width:100%;
}

h1 {
    font-size:40px;
    margin-top:3%;

}

/* Ensures that checkbox label will be displayed on the same line as the checkbox itself */
input#cc-opt, input#cc-opt-label {
	display:inline;
}

/* Adds empty space between form inputs */
input, select, textarea {
	margin-bottom:10px;
}


@media screen and (min-width:480px) {

	h1 {
	    font-size:40px;
	}

}

@media screen and (min-width:768px) {

	h1 {
	    font-size:46px;
	}


	textarea#message {
		width:80%;
	}

}











