#main {
	padding-bottom:20px;
}

h1 {
	text-align:center;
	margin-top:3%;
	font-family:"PoplarSTD","Times New Roman";
	font-size:34px; 
	color:black;
}

/*Links*/
a.sitemaplink {	
	font-family:"Futura", "Times New Roman";
	font-size:20px;
	padding:1%;
	margin-left:3%;
	}

a.sitemaplink:link {
	
	text-decoration:none;
	list-style-type:none;
}

a.sitemaplink:visited {
	color:black;

	}
	
a.sitemaplink:hover {
	color:#29cfbd;
	
}

a.anchorlink:link {
	color:#fffaeb;
}

a.subheading {
	margin-left:10%;
}

@media screen and (min-width:480px) {

h1 {
    font-size:40px;
    margin-top:5%;
}

}

@media screen and (min-width:768px) {

h1 {
    font-size:46px;
}

}