#main {
	padding-bottom:20px;
}


h1 {
	text-align:center;
	margin-top:5%;
	font-family:"PoplarSTD","Times New Roman";
	font-size:34px; 
	color:black;
}


/*Email Updates*/


/*Paragraphs*/
p.text {
	font-family:"Futura Condensed Medium","Times New Roman"; 
	color:black;
	font-size:16px;
	width:80%;
	margin-left:10%;
	}




@media screen and (min-width:480px) {

h1 {
    font-size:40px;
    margin-top:5%;
}

p.text {
	font-size:18px;
}

}

@media screen and (min-width:768px) {

h1 {
    font-size:46px;
}

p.text {
	font-size:20px;
}

}