h1 {
	text-align:center;
	margin-top:23%;
	font-family:"PoplarSTD","Times New Roman";
	font-size:34px; 
	color:black;
}


/*Email Updates*/


/*Paragraphs*/
p {
	font-family:"Futura Condensed Medium","Times New Roman"; /* Only font & color are defined here because they're the only attributes common to ALL paragraphs. */
	color:black;
	}

p.message {
	font-size:24px;
	width:80%;
	margin-left:10%;
}


@media screen and (min-width:480px) {

h1 {
    font-size:40px;
}

}

@media screen and (min-width:768px) {

h1 {
    font-size:46px;
}

}